.mainPage-container-dark {
  background-color: #1a1919;
  color: #999;
  transition: background-color 0.25s ease-in-out;
  height: 100vh;
}

.mainPage-container {
  background-image: linear-gradient(#91ee8f, #c3ffc1, #ffffff);
  height: 100vh;
}

.mainPage-header {
  display: flex;
  margin-left: 41px;
  padding-top: 20px;
}

.mainPage-header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 6px;
}

.hamburger-menu {
  margin-left: 200px;
}

.event {
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.47);
  padding: 10px;
}

.event-dark {
  background-color: #1a1919;
  color: #999;
  transition: background-color 0.25s ease-in-out;
  padding: 10px;
  border-top: solid 1px white;
}

.event-title {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-left: 11px;
}

.event-title-dark {
  color: #999;
  transition: background-color 0.25s ease-in-out;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-left: 11px;
}

.event-info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 1px;
}

.event-info1 {
  font-size: 11px;
  align-items: center;
  display: flex;
  align-items: center;
}

.event-info1 img {
  margin-right: 6px;
}

.event-info11 {
  font-size: 11px;
  align-items: center;
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.event-info11 img {
  margin-right: 6px;
}

.event-info2 {
  position: absolute;
  left: 275px;
  text-decoration: none;
}

.button-light {
  background-color: rgba(60, 215, 94, 1);
  color: white;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  margin-top: 5px;
  margin-left: 20px;
}

.button-dark {
  background-color: #07893f;
  color: #999;
  transition: background-color 0.25s ease-in-out;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  margin-top: 5px;
  margin-left: 20px;
}

.button-dark:hover{
  background-color: #0ab453;
}
